Temp/
Common/
Apps/NinjaCatCastle/data/levels/SideScrollerDesert
Apps/NinjaCatCastle/data/levels/SideScrollerMetal
*.sdf
*.tlog
*.idb
*.pdb
#These are anti-ignores.. This forces specific files to NOT be ignored
!Sound/
!fmodL.dll
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms0.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms1.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms10.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms11.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms12.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms13.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms14.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms15.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms16.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms17.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms18.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms20.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms22.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms23.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms24.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms25.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms26.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms27.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms28.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms3.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms30.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms31.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms32.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms33.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms4.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms40.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms41.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms42.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms43.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms5.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms50.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms51.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms52.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms53.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms6.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms7.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms0.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms1.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms10.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms11.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms12.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms13.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms14.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms15.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms16.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms17.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms18.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms20.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms22.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms23.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms24.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms25.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms26.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms27.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms28.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms3.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms30.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms31.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms32.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms33.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms4.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms40.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms41.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms42.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms43.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms5.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms50.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms51.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms52.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms53.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms6.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms7.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms0.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms1.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms10.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms11.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms12.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms13.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms14.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms15.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms16.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms17.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms18.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms20.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms22.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms23.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms24.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms25.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms26.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms27.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms28.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms3.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms30.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms31.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms32.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms33.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms4.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms40.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms41.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms42.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms43.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms5.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms50.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms51.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms52.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms53.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms6.png
Apps/NinjaCatCastle/data/levels/Level 3/MetalPlatforms7.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms19.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms2.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms21.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms29.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms34.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms35.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms36.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms37.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms38.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms39.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms44.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms45.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms46.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms47.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms48.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms49.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms54.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms55.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms56.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms57.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms58.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms59.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms8.png
Apps/NinjaCatCastle/data/levels/Level 1/MetalPlatforms9.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms19.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms2.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms21.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms29.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms34.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms35.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms36.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms37.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms38.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms39.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms44.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms45.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms46.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms47.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms48.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms49.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms54.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms55.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms56.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms57.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms58.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms59.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms8.png
Apps/NinjaCatCastle/data/levels/Level 2/MetalPlatforms9.png
