Temp/
Common/
Apps/NinjaCatCastle/data/levels/SideScrollerDesert
Apps/NinjaCatCastle/data/levels/SideScrollerMetal
*.sdf
*.tlog
*.idb
*.pdb
#These are anti-ignores.. This forces specific files to NOT be ignored
!Sound/
!fmodL.dll